openapi: 3.1.0
info:
  title: Banco de Notas — API de eventos de notas
  version: 1.2.0
  description: >-
    Contrato definitivo do Ecossistema Escolar para recepção idempotente, consulta e
    reconciliação de eventos de notas. Migra a semântica validada na POC sem promover
    SharePoint a event store. O endpoint de escrita do add-in permanece bloqueado até
    audience/scope Microsoft Entra próprios serem provisionados e homologados.
  license:
    name: Uso institucional restrito
    identifier: LicenseRef-Institutional-Use
servers:
  - url: https://admin.escolaieda.com/api/banco-notas
    description: API same-origin do Ecossistema Escolar; ativação do emissor add-in depende do gate Entra.
security:
  - microsoftEntraBearer: []
paths:
  /v1/grade-events:
    post:
      operationId: createGradeEvent
      summary: Recebe alteração, recálculo ou reversão de nota
      description: >-
        A mesma Idempotency-Key com o mesmo payload retorna a confirmação existente sem
        novo efeito lógico. A mesma chave com payload diferente é conflito. Eventos com
        sequence antiga permanecem auditáveis como stale e não substituem o snapshot.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GradeEventInput'
      responses:
        '202':
          description: Evento novo aceito, stale ou classificado para processamento.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '200':
          description: Repetição idempotente do mesmo payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Idempotency-Key reutilizada com payload incompatível ou conflito de sequência não reconciliável.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /v1/grade-events/{eventId}:
    get:
      operationId: getGradeEvent
      summary: Consulta a confirmação auditável de um evento
      parameters:
        - $ref: '#/components/parameters/EventId'
      responses:
        '200':
          description: Evento encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeEventReceipt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/grade-snapshots/{gradeKey}:
    get:
      operationId: getGradeSnapshot
      summary: Consulta o último estado confirmado de um campo de lançamento
      description: O snapshot é identificado pelo par gradeKey + field; gradeKey isolado não é uma chave única.
      parameters:
        - $ref: '#/components/parameters/GradeKey'
        - $ref: '#/components/parameters/GradeFieldQuery'
      responses:
        '200':
          description: Snapshot encontrado.
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GradeSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/grade-events/stream:
    get:
      operationId: streamGradeEvents
      summary: Acompanha confirmações de eventos por Server-Sent Events
      parameters:
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Stream autenticado; cada data contém GradeEventReceipt.
          content:
            text/event-stream:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  securitySchemes:
    microsoftEntraBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Token Microsoft Entra para a API do Banco. Audience e delegated scope definitivos
        são gate externo de homologação e não são inventados neste contrato. O add-in não
        usa client secret.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 16
        maxLength: 128
        pattern: '^[A-Za-z0-9._:-]+$'
    EventId:
      name: eventId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    GradeKey:
      name: gradeKey
      in: path
      required: true
      schema:
        type: string
        minLength: 7
        maxLength: 180
    GradeFieldQuery:
      name: field
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/GradeField'
  responses:
    BadRequest:
      description: Entrada inválida.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Token ausente ou inválido.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Forbidden:
      description: Identidade válida sem autorização no recurso, modelo não conectado ou sincronização desabilitada.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Recurso não encontrado.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: Limite transitório; respeitar Retry-After.
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    GradeEventInput:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - eventId
        - correlationId
        - eventType
        - gradeKey
        - field
        - dataSourceId
        - teacherModelId
        - source
        - valueAfter
        - isAbsent
        - sequence
        - clientSentAt
      properties:
        schemaVersion:
          const: 1
        eventId:
          type: string
          format: uuid
        correlationId:
          type: string
          format: uuid
        eventType:
          type: string
          enum: [grade.changed, grade.recalculated, grade.reverted]
        gradeKey:
          type: string
          minLength: 7
          maxLength: 180
          example: 2026|T01|M|aluno-sintetico-001
        field:
          $ref: '#/components/schemas/GradeField'
        dataSourceId:
          type: string
          format: uuid
        teacherModelId:
          type: string
          format: uuid
        source:
          $ref: '#/components/schemas/EventSource'
        valueBefore:
          $ref: '#/components/schemas/GradeValue'
        valueAfter:
          $ref: '#/components/schemas/GradeValue'
        isAbsent:
          type: boolean
          description: Ausência explícita de lançamento. Quando true, valueAfter deve ser null. Zero continua sendo valor numérico válido.
        derivedValues:
          $ref: '#/components/schemas/DerivedValues'
        sequence:
          type: integer
          minimum: 1
        sourceRevision:
          type: string
          minLength: 1
          maxLength: 120
        clientSentAt:
          type: string
          format: date-time
      allOf:
        - if:
            properties:
              isAbsent:
                const: true
          then:
            properties:
              valueAfter:
                type: 'null'
    GradeField:
      type: string
      enum: [NotaT1, NotaT2, NotaT3, RecT1, RecT2, RecT3, Total, TotalRec, NotaFinal]
    GradeValue:
      oneOf:
        - type: number
        - type: string
          maxLength: 120
        - type: 'null'
    EventSource:
      type: object
      additionalProperties: false
      required: [kind, workbookId, worksheetId, cellAddress]
      properties:
        kind:
          type: string
          enum: [excel-addin, web-model, reconciliation]
        workbookId:
          type: string
          minLength: 1
          maxLength: 180
        worksheetId:
          type: string
          minLength: 1
          maxLength: 180
        cellAddress:
          type: string
          minLength: 2
          maxLength: 40
    DerivedValues:
      type: object
      additionalProperties: false
      properties:
        Total:
          $ref: '#/components/schemas/GradeValue'
        TotalRec:
          $ref: '#/components/schemas/GradeValue'
        NotaFinal:
          $ref: '#/components/schemas/GradeValue'
    GradeEventReceipt:
      type: object
      additionalProperties: false
      required: [schemaVersion, eventId, correlationId, idempotencyKey, status, receivedAt]
      properties:
        schemaVersion:
          const: 1
        eventId:
          type: string
          format: uuid
        correlationId:
          type: string
          format: uuid
        idempotencyKey:
          type: string
        status:
          type: string
          enum: [applied, stale, duplicate, queued, rejected]
        receivedAt:
          type: string
          format: date-time
        snapshot:
          $ref: '#/components/schemas/GradeSnapshot'
    GradeSnapshot:
      type: object
      additionalProperties: false
      required: [gradeKey, field, value, isAbsent, sequence, lastEventId, sourceId, updatedAt]
      properties:
        gradeKey:
          type: string
        field:
          $ref: '#/components/schemas/GradeField'
        value:
          $ref: '#/components/schemas/GradeValue'
        isAbsent:
          type: boolean
        sequence:
          type: integer
          minimum: 1
        lastEventId:
          type: string
          format: uuid
        sourceId:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
    Problem:
      type: object
      additionalProperties: true
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 400
          maximum: 599
        detail:
          type: string
        traceId:
          type: string
