openapi: 3.1.0
info:
  title: Banco de Notas — Acompanhamento V1
  version: 1.0.0
  description: >-
    Read model administrativo de turmas, professores, modelos, fontes, snapshots de notas e
    pendências persistidos no D1. Zero numérico e ausência explícita são fatos distintos.
servers:
  - url: https://admin.escolaieda.com/api/banco-notas
security:
  - administrativeSession: []
paths:
  /v1/acompanhamento/summary:
    get:
      operationId: getAcompanhamentoSummary
      x-required-capability: grades.analytics.read
      responses:
        '200':
          description: Resumo operacional e opções reais de filtro.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Summary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/acompanhamento/turmas:
    get:
      operationId: listAcompanhamentoTurmas
      x-required-capability: grades.analytics.read
      parameters:
        - { in: query, name: schoolYearId, schema: { type: string, format: uuid } }
        - { in: query, name: classGroupId, schema: { type: string, format: uuid } }
        - { in: query, name: teacherId, schema: { type: string, format: uuid } }
        - in: query
          name: modelState
          schema:
            type: string
            enum:
              [draft, validated, ready_to_share, shared, connected, suspended, archived, missing]
        - { in: query, name: sync, schema: { type: string, enum: [enabled, disabled] } }
        - { in: query, name: attention, schema: { type: string, enum: [needs_attention, normal] } }
        - { in: query, name: q, schema: { type: string, maxLength: 80 } }
        - {
            in: query,
            name: page,
            schema: { type: integer, minimum: 1, maximum: 10000, default: 1 },
          }
        - {
            in: query,
            name: pageSize,
            schema: { type: integer, minimum: 1, maximum: 100, default: 20 },
          }
      responses:
        '200':
          description: Página de acompanhamentos filtrados no servidor.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/acompanhamento/turmas/{classGroupId}:
    get:
      operationId: getAcompanhamentoTurma
      x-required-capability: grades.analytics.read
      parameters:
        - in: path
          name: classGroupId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Detalhe read-only da turma.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Detail' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
components:
  securitySchemes:
    administrativeSession:
      type: apiKey
      in: cookie
      name: __Host-centro_session
  responses:
    BadRequest: { description: Parâmetro inválido. }
    Unauthorized: { description: Sessão administrativa ausente ou inválida. }
    Forbidden: { description: Capability administrativa insuficiente. }
    NotFound: { description: Turma não encontrada. }
    Unavailable: { description: Storage D1 indisponível; falha fechada. }
  schemas:
    Summary:
      type: object
      required:
        [
          classGroups,
          trackedItems,
          teachers,
          models,
          connectedModels,
          syncEnabled,
          openFindings,
          needsAttention,
          modelStates,
          filters,
          recentActivity,
        ]
      properties:
        classGroups: { type: integer, minimum: 0 }
        trackedItems: { type: integer, minimum: 0 }
        teachers: { type: integer, minimum: 0 }
        models: { type: integer, minimum: 0 }
        connectedModels: { type: integer, minimum: 0 }
        syncEnabled: { type: integer, minimum: 0 }
        openFindings: { type: integer, minimum: 0 }
        needsAttention: { type: integer, minimum: 0 }
        modelStates:
          type: array
          items:
            type: object
            required: [state, total]
            properties: { state: { type: string }, total: { type: integer, minimum: 0 } }
        filters: { type: object }
        recentActivity: { type: array, items: { type: object } }
    ListResult:
      type: object
      required: [items, page, pageSize, total, totalPages]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/ListItem' } }
        page: { type: integer, minimum: 1 }
        pageSize: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
        totalPages: { type: integer, minimum: 0 }
    ListItem:
      type: object
      required:
        [
          classGroupId,
          classGroupName,
          schoolYear,
          teacherId,
          teacherName,
          components,
          syncEnabled,
          openFindings,
          attentionLevel,
          attentionReasons,
        ]
      properties:
        classGroupId: { type: string, format: uuid }
        classGroupName: { type: string }
        schoolYear: { type: integer }
        teacherId: { type: string, format: uuid }
        teacherName: { type: string }
        components: { type: array, items: { type: string } }
        modelState: { type: [string, 'null'] }
        sourceName: { type: [string, 'null'] }
        sourceType: { type: [string, 'null'] }
        syncEnabled: { type: boolean }
        openFindings: { type: integer, minimum: 0 }
        lastActivityAt: { type: [string, 'null'], format: date-time }
        attentionLevel: { type: string, enum: [normal, info, warning, error] }
        attentionReasons: { type: array, items: { type: string } }
    Detail:
      type: object
      required: [classGroup, assignments, students, findings, notes]
      properties:
        classGroup: { type: object }
        assignments: { type: array, items: { type: object } }
        students:
          type: array
          items: { $ref: '#/components/schemas/StudentStatus' }
        findings: { type: array, items: { type: object } }
        notes: { $ref: '#/components/schemas/NoteStatus' }
    StudentStatus:
      type: object
      required: [id, displayName, fieldsAvailable, presentValues, absentValues, numericZeroValues]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string }
        fieldsAvailable: { type: integer, minimum: 0 }
        presentValues: { type: integer, minimum: 0 }
        absentValues: { type: integer, minimum: 0 }
        numericZeroValues:
          { type: integer, minimum: 0, description: Zero continua sendo valor numérico válido. }
        lastUpdatedAt: { type: [string, 'null'], format: date-time }
    NoteStatus:
      type: object
      required: [snapshots, presentValues, absentValues, numericZeroValues]
      properties:
        snapshots: { type: integer, minimum: 0 }
        presentValues: { type: integer, minimum: 0 }
        absentValues: { type: integer, minimum: 0 }
        numericZeroValues: { type: integer, minimum: 0 }
        lastUpdatedAt: { type: [string, 'null'], format: date-time }
