openapi: 3.1.0
info:
  title: Banco de Notas — Central de Pendências V1
  version: 1.0.0
  description: >-
    Observabilidade operacional administrativa, read-only, derivada de fatos persistidos no Banco
    de Notas. A API não oferece comandos de resolução, correção, arquivamento ou atribuição.
servers:
  - url: https://admin.escolaieda.com/api/banco-notas
security:
  - administrativeSession: []
paths:
  /v1/pendencias/summary:
    get:
      operationId: summarizePendencias
      x-required-capability: grades.analytics.read
      parameters:
        - { $ref: '#/components/parameters/SchoolYearId' }
        - { $ref: '#/components/parameters/Severity' }
        - { $ref: '#/components/parameters/Kind' }
        - { $ref: '#/components/parameters/TeacherId' }
        - { $ref: '#/components/parameters/ClassGroupId' }
        - { $ref: '#/components/parameters/ComponentId' }
        - { $ref: '#/components/parameters/Status' }
        - { $ref: '#/components/parameters/Query' }
      responses:
        '200':
          description: Totais por severidade/tipo e opções de filtros canônicos.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PendenciasSummary' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/pendencias:
    get:
      operationId: listPendencias
      x-required-capability: grades.analytics.read
      parameters:
        - { $ref: '#/components/parameters/SchoolYearId' }
        - { $ref: '#/components/parameters/Severity' }
        - { $ref: '#/components/parameters/Kind' }
        - { $ref: '#/components/parameters/TeacherId' }
        - { $ref: '#/components/parameters/ClassGroupId' }
        - { $ref: '#/components/parameters/ComponentId' }
        - { $ref: '#/components/parameters/Status' }
        - { $ref: '#/components/parameters/Query' }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: Página ordenada por severidade, recência e ID estável.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PendingPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/pendencias/{pendingId}:
    get:
      operationId: getPendencia
      x-required-capability: grades.analytics.read
      parameters:
        - in: path
          name: pendingId
          required: true
          schema: { type: string, minLength: 3, maxLength: 300 }
      responses:
        '200':
          description: Causa, evidência, origem factual e links relacionados, sem detalhes internos.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PendingItem' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '503': { $ref: '#/components/responses/Unavailable' }
components:
  securitySchemes:
    administrativeSession: { type: apiKey, in: cookie, name: __Host-centro_session }
  parameters:
    SchoolYearId: { in: query, name: schoolYearId, schema: { type: string, format: uuid } }
    Severity: { in: query, name: severity, schema: { type: string, enum: [error, warning, info] } }
    Kind:
      in: query
      name: kind
      schema: { $ref: '#/components/schemas/PendingKind' }
    TeacherId: { in: query, name: teacherId, schema: { type: string, format: uuid } }
    ClassGroupId: { in: query, name: classGroupId, schema: { type: string, format: uuid } }
    ComponentId: { in: query, name: componentId, schema: { type: string, format: uuid } }
    Status: { in: query, name: status, schema: { type: string, enum: [open] } }
    Query: { in: query, name: q, schema: { type: string, maxLength: 80 } }
    Page:
      { in: query, name: page, schema: { type: integer, minimum: 1, maximum: 10000, default: 1 } }
    PageSize:
      {
        in: query,
        name: pageSize,
        schema: { type: integer, minimum: 1, maximum: 100, default: 20 },
      }
  responses:
    BadRequest: { description: Parâmetro inválido. }
    Unauthorized: { description: Sessão administrativa ausente ou inválida. }
    Forbidden: { description: Capability administrativa insuficiente. }
    NotFound: { description: Pendência não encontrada ou não mais aberta. }
    Unavailable: { description: Storage D1 indisponível; falha fechada. }
  schemas:
    PendingKind:
      type: string
      enum:
        - import_error
        - finding_error
        - finding_warning
        - finding_info
        - model_suspended
        - model_missing
        - identity_missing
        - source_missing
        - inactive_teacher_assignment
        - orphan_assignment
        - model_without_assignment
        - model_not_connected
        - import_analysis_pending
    ContextRef:
      type: [object, 'null']
      properties:
        id: { type: string }
        label: { type: string }
      required: [id, label]
    ContextLink:
      type: object
      required: [kind, label, href]
      properties:
        kind: { type: string, enum: [professor, turma, acompanhamento] }
        label: { type: string }
        href: { type: string, pattern: '^/banco-de-notas/' }
    PendingItem:
      type: object
      required:
        - id
        - kind
        - severity
        - status
        - title
        - description
        - evidence
        - origin
        - createdAt
        - updatedAt
        - contextLinks
      properties:
        id: { type: string, description: Identificador estável derivado da evidência canônica. }
        kind: { $ref: '#/components/schemas/PendingKind' }
        severity: { type: string, enum: [error, warning, info] }
        status: { type: string, enum: [open] }
        title: { type: string }
        description: { type: string }
        evidence: { type: string }
        origin: { type: string }
        schoolYear: { $ref: '#/components/schemas/ContextRef' }
        teacher: { $ref: '#/components/schemas/ContextRef' }
        classGroup: { $ref: '#/components/schemas/ContextRef' }
        component: { $ref: '#/components/schemas/ContextRef' }
        modelState: { type: [string, 'null'] }
        sourceName: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        contextLinks:
          type: array
          items: { $ref: '#/components/schemas/ContextLink' }
    PendingPage:
      type: object
      required: [items, page, pageSize, total, totalPages]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/PendingItem' } }
        page: { type: integer, minimum: 1 }
        pageSize: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
        totalPages: { type: integer, minimum: 0 }
    PendenciasSummary:
      type: object
      required: [total, error, warning, info, byKind, filters]
      properties:
        total: { type: integer, minimum: 0 }
        error: { type: integer, minimum: 0 }
        warning: { type: integer, minimum: 0 }
        info: { type: integer, minimum: 0 }
        byKind:
          type: array
          items:
            type: object
            required: [kind, total]
            properties:
              kind: { $ref: '#/components/schemas/PendingKind' }
              total: { type: integer, minimum: 0 }
        filters:
          type: object
          description: Anos, professores, turmas e componentes canônicos disponíveis para filtro.
