openapi: 3.1.0
info:
  title: Banco de Notas — Pesquisa Global V1
  version: 1.0.0
  description: >-
    Pesquisa administrativa read-only de alunos, professores e turmas canônicos. O ranking é
    determinístico e executado no servidor; os DTOs não expõem identificadores técnicos ou notas.
servers:
  - url: https://admin.escolaieda.com/api/banco-notas
security:
  - administrativeSession: []
paths:
  /v1/pesquisa:
    get:
      operationId: searchBancoNotas
      x-required-capability: grades.analytics.read
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string, minLength: 2, maxLength: 80 }
        - in: query
          name: types
          schema:
            type: string
            description: Lista separada por vírgulas.
            example: students,teachers,classGroups
        - in: query
          name: limitPerType
          schema: { type: integer, minimum: 1, maximum: 10, default: 6 }
        - { in: query, name: schoolYearId, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Resultados agrupados e limitados por tipo.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '503': { $ref: '#/components/responses/Unavailable' }
components:
  securitySchemes:
    administrativeSession: { type: apiKey, in: cookie, name: __Host-centro_session }
  responses:
    BadRequest: { description: Parâmetro inválido. }
    Unauthorized: { description: Sessão administrativa ausente ou inválida. }
    Forbidden: { description: Capability administrativa insuficiente. }
    Unavailable: { description: Storage D1 indisponível; falha fechada. }
  schemas:
    SearchResult:
      type: object
      required: [query, normalizedQuery, limitPerType, results]
      properties:
        query: { type: string }
        normalizedQuery: { type: string }
        limitPerType: { type: integer }
        results:
          type: object
          required: [students, teachers, classGroups]
          properties:
            students: { $ref: '#/components/schemas/StudentBucket' }
            teachers: { $ref: '#/components/schemas/TeacherBucket' }
            classGroups: { $ref: '#/components/schemas/ClassGroupBucket' }
    BucketBase:
      type: object
      required: [items, total, hasMore]
      properties:
        total: { type: integer, minimum: 0 }
        hasMore: { type: boolean }
    StudentBucket:
      allOf:
        - { $ref: '#/components/schemas/BucketBase' }
        - type: object
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/StudentItem' }
    TeacherBucket:
      allOf:
        - { $ref: '#/components/schemas/BucketBase' }
        - type: object
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/TeacherItem' }
    ClassGroupBucket:
      allOf:
        - { $ref: '#/components/schemas/BucketBase' }
        - type: object
          properties:
            items:
              type: array
              items: { $ref: '#/components/schemas/ClassGroupItem' }
    StudentItem:
      type: object
      required: [id, displayName, classGroups]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string }
        classGroups: { type: array, items: { type: string } }
    TeacherItem:
      type: object
      required: [id, displayName, components, classGroups]
      properties:
        id: { type: string, format: uuid }
        displayName: { type: string }
        components: { type: array, items: { type: string } }
        classGroups: { type: array, items: { type: string } }
    ClassGroupItem:
      type: object
      required:
        [id, name, schoolYearId, schoolYearName, components, teachers, acompanhamentoAvailable]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        schoolYearId: { type: string, format: uuid }
        schoolYearName: { type: string }
        components: { type: array, items: { type: string } }
        teachers: { type: array, items: { type: string } }
        acompanhamentoAvailable: { type: boolean }
